@model IEnumerable<WebApplication1.Models.Article>

@{
    ViewBag.Title = "留言板";
}

<div>
    @if (Model!=null)
    {
        <table>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            標題
                        </td>
                        <td>
                            @item.Title
                        </td>
                    </tr>
                    <tr>
                        <td>
                            留言內容:
                        </td>
                        <td>
                            @item.Content
                        </td>
                    </tr>
                    <tr>
                        <td>
                            留言時間
                        </td>
                        <td>
                            @item.time
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<br/>
<div>
    @Html.ActionLink("新增留言","Create")
</div>

